<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NORSU.BioPay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NORSU.BioPay.Properties.Settings>
            <setting name="EnableSchedules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeInAM" serializeAs="String">
                <value>7:00AM</value>
            </setting>
            <setting name="TimeOutAM" serializeAs="String">
                <value>12:00PM</value>
            </setting>
            <setting name="TimeInPM" serializeAs="String">
                <value>1:00PM</value>
            </setting>
            <setting name="TimeOutPM" serializeAs="String">
                <value>5:00PM</value>
            </setting>
            <setting name="TrimOvertime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTimeOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscardUnclosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumTime" serializeAs="String">
                <value>0</value>
            </setting>
        </NORSU.BioPay.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>